{% from "macros/parameters.j2" import c_function %}
{% from "_c_fragments/funcptr.j2" import render_funcptr %}
{% from "_c_fragments/_struct.j2" import render_struct_fwd, render_struct_body %}
{% from "_c_fragments/_type.j2" import render_type %}

/* --- Enums for {{ module.name }} --- */
{% for enum in module.enums %}
{% if enum.description %}//! {{ enum.description | c_line_comment }}
{% endif %}typedef enum {{ enum.name }} {
  {% for value_name, value in enum.values.items() %}
  {% if value.description %}/* {{ value.description }} */
  {% endif %}
  {{ value_name }} = {{ value.value }},
  {% endfor %}
} {{ enum.name }};

{% endfor %}

/* --- Struct forward declarations for {{ module.name }} --- */
{% for s in module.structs %}
{{ render_struct_fwd(s) }}

{% endfor %}

/* --- Types for {{ module.name }} --- */
{% for type in module.types %}
{{ render_type(type, c_opts.typedef_guard_prefix) }}

{% endfor %}

/* --- Constants for {{ module.name }} --- */
{% for const in module.constants %}
{% if const.description %}//! {{ const.description | c_line_comment }}
{% endif %}#define {{ const.name }} {{ const.value }}
{% endfor %}

/* --- Error Codes for {{ module.name }} --- */
{% for group in module.error_groups %}
{% if group.description %}//! {{ group.description | c_line_comment }}
{% endif %}{% for entry in group.entries %}
{% if entry.description %}//! {{ entry.description | c_line_comment }}
{% endif %}#define {{ entry.name }} (({{ group.group_id }} << 16) | {{ entry.code }})
{% endfor %}
{% endfor %}

/* --- Function pointer typedefs for {{ module.name }} --- */
{% for fp in module.function_ptrs %}
{{ render_funcptr(fp) }}

{% endfor %}

/* --- Functions for {{ module.name }} --- */
{% set dep_enc = metadata.get('options', {}).get('c', {}).get('deprecated_encoding', 'guarded') %}
{% for func_name, func in module.functions.items() %}
{% if not func.static_inline and not (func.deprecated and dep_enc == 'none') %}
{% if func.deprecated %}
#ifndef {{ c_opts.no_deprecated_guard }}
{% endif %}
  {%- if func.summary or func.description -%}
/*!
* {{ func.summary }}
    {% if func.description %}
* {{ func.description }}
    {% endif %}
    {% for param_name, param in func.parameters.items() %}
* @param {{ param_name }} {{ param.description or '' }}
    {% endfor %}
* @return {{ func.return_c }}
*/
  {% endif %}
{{ c_opts.api_macro }} {% if func.deprecated and dep_enc == 'strict' -%}{{ c_opts.deprecated_macro }} {% endif %}
{{ func.return_c }} {{ func_name }}(
      {%- if func.parameters -%}
      {%- for name, param in func.parameters.items() -%}
      {{ c_function(name, param) }}{{ ", " if not loop.last }}
      {%- endfor -%}
      {%- else -%}void{%- endif -%}
  );
{% if func.deprecated %}
#endif
{% endif %}
{% endif %}
{% endfor %}

/* --- Struct definitions for {{ module.name }} --- */
{% for s in module.structs %}
{{ render_struct_body(s) }}

{% endfor %}