{% from "macros/parameters.j2" import c_function %}
{% from "_c_fragments/funcptr.j2" import render_funcptr %}
{% from "_c_fragments/_struct.j2" import render_struct_fwd, render_struct_body %}
{% from "_c_fragments/_type.j2" import render_type %}

/* --- Enums for {{ module.name }} --- */

{% for enum in module.enums %}
{% if enum.unstable %}
#ifdef {{ c_opts.unstable_guard }}
{% endif %}
{% if enum.description %}{{ enum.description | c_doc }}
{% endif %}typedef enum {{ enum.name }} {
  {% for value_name, value in enum.values.items() %}
  {% if value.description %}
  {% if not loop.first %}

  {% endif %}
{{ value.description | c_doc("  ") }}
  {% endif %}
  {{ value_name }} = {{ value.value }},
  {% endfor %}
} {{ enum.name }};
{% if enum.unstable %}
#endif
{% endif %}

{% endfor %}

/* --- Struct forward declarations for {{ module.name }} --- */

{% for s in module.structs %}
{% if s.unstable %}
#ifdef {{ c_opts.unstable_guard }}
{% endif %}
{{ render_struct_fwd(s) }}
{% if s.unstable %}
#endif
{% endif %}

{% endfor %}

/* --- Types for {{ module.name }} --- */

{% for type in module.types %}
{% if type.unstable %}
#ifdef {{ c_opts.unstable_guard }}
{% endif %}
{{ render_type(type, c_opts.typedef_guard_prefix) }}
{% if type.unstable %}
#endif
{% endif %}

{% endfor %}

/* --- Constants for {{ module.name }} --- */

{% for const in module.constants %}
{% if const.description %}

{{ const.description | c_doc }}
{% endif %}#define {{ const.name }} {{ const.value }}
{% endfor %}

/* --- Error Codes for {{ module.name }} --- */
{% for group in module.error_groups %}
{% if group.description %}

{{ group.description | c_doc }}
{% endif %}
{% for entry in group.entries %}
{% if entry.description %}

{{ entry.description | c_doc }}
{% endif %}#define {{ entry.name }} (({{ group.group_id }} << 16) | {{ entry.code }})
{% endfor %}
{% endfor %}

/* --- Function pointer typedefs for {{ module.name }} --- */

{% for fp in module.function_ptrs %}
{% if fp.unstable %}
#ifdef {{ c_opts.unstable_guard }}
{% endif %}
{{ render_funcptr(fp) }}
{% if fp.unstable %}
#endif
{% endif %}

{% endfor %}

/* --- Functions for {{ module.name }} --- */
{% set dep_enc = metadata.get('options', {}).get('c', {}).get('deprecated_encoding', 'guarded') %}
{% for func_name, func in module.functions.items() %}
{% if not func.static_inline and not (func.deprecated and dep_enc == 'none') %}

{% if func.unstable %}
#ifdef {{ c_opts.unstable_guard }}
{% endif %}
{% if func.deprecated %}
#ifndef {{ c_opts.no_deprecated_guard }}
{% endif %}
  {%- if func.summary or func.description -%}
/*!
    {% if func.summary %}
{{ func.summary | c_lines(" * ") }}
    {% endif %}
    {% if func.description %}
{% if func.summary %} *
{% endif %}{{ func.description | c_lines(" * ") }}
    {% endif %}
 *
    {% for param_name, param in func.parameters.items() %}
{{ ("@param " ~ param_name ~ " " ~ (param.description or '')) | c_lines(" * ") }}
    {% endfor %}
 * @return {{ func.return_c }}
 */
  {% endif %}
{{ c_opts.api_macro }} {% if func.deprecated and dep_enc == 'strict' -%}{{ c_opts.deprecated_macro }} {% endif %}
{{ func.return_c }} {{ func_name }}(
      {%- if func.parameters -%}
      {%- for name, param in func.parameters.items() -%}
      {{ c_function(name, param) }}{{ ", " if not loop.last }}
      {%- endfor -%}
      {%- else -%}void{%- endif -%}
  );
{% if func.deprecated %}
#endif
{% endif %}
{% if func.unstable %}
#endif
{% endif %}
{% endif %}
{% endfor %}

/* --- Struct definitions for {{ module.name }} --- */

{% for s in module.structs %}
{% if s.unstable %}
#ifdef {{ c_opts.unstable_guard }}
{% endif %}
{{ render_struct_body(s) }}
{% if s.unstable %}
#endif
{% endif %}

{% endfor %}
